/* You can add global styles to this file, and also import other style files */

.theme-dark {
  div {
    background: black;
    color: white;
  }
}

.theme-light {
  div {
    background: white;
    color: black;
  }
}
